h2 Patients
.row
    for patient in patients
        .col.s12.m4
            .card.blue.darken-2
                .card-content.white-text
                    span.card-title= patient.PName
                    ul.collection.blue
                        li.collection-item.blue.darken-1= "SSN: "+patient.Hcn
                        li.collection-item.blue.darken-1= "Gender: "+patient.Gender
                        li.collection-item.blue.darken-1= "Date of Birth: "+patient.BirthDate.toLocaleDateString()
                        li.collection-item.blue.darken-1= "Address: "+patient.Address
                        li.collection-item.blue.darken-1= "Telephone: "+patient.Telephone
