extends ./layouts/default
block content
  include ./components/nav
  div.container
    h2 Patients
    .row
      for patient in patients
        .col.s12.m4
          .card.primary.darken-1
            .card-content.white-text
              span.card-title= patient.PName
              ul.collection.primary
                li.collection-item.primary= "HCN: "+patient.Hcn
                li.collection-item.primary= "Gender: "+patient.Gender
                li.collection-item.primary= "Date of Birth: "+patient.BirthDate.toLocaleDateString()
                li.collection-item.primary= "Address: "+patient.Address
                li.collection-item.primary= "Telephone: "+patient.Telephone
