extends ./layouts/default
block content
  include ./components/nav
  div.container
    h2 Patients In Rooms
    .row
      for patient in PatientsInRooms
        .col.s12.m6.l4
          .card.green.darken-1
            .card-content.white-text
              span.card-title= patient.HCN
              ul.collection.primary
                li.collection-item.primary= "Name: "+patient.PName
                li.collection-item.primary= "Dno: "+patient.Dno
                li.collection-item.primary= "room number: "+patient.rno
                li.collection-item.primary= "Room Name: "+patient.RName
