extends ./layouts/default
block content
  include ./components/nav
  .container
    h2 Rooms by Department
    .row
      each department, index in roomInfo
        if index != 'null'
          .col.s12.m4
            .card.primary.darken-1
              .card-content.white-text
                span.card-title= "Department #"+index
                ul.collection.primary
                  for room in department
                    li.collection-item.primary= "Room #:"+room.Rno
                    li.collection-item.primary= "Room Name:"+room.RName
                    if room.Hcn
                      li.collection-item.primary= "HCN:"+room.Hcn
                      li.collection-item.primary= "Patient Name:"+room.PName
                    else
                      li.collection-item.green
                        i.material-icons.left check
                        span Availible 
        else
          .row
            .col.s12
              .card.primary.darken-1
                .card-content.white-text
                  span.card-title= "Unassigned"
                  ul.collection.primary
                    for patient in department
                      li.collection-item.primary
                        p
                          span="HCN #:"+patient.Hcn
                          br
                          span="Patient Name: "+patient.PName