extends ./layouts/default
block content
  include ./components/nav
  div.container
      h2 Staff
      .row
        for department in departments
          .row
            .col.s12
              .card.primary.secondary.white-text
                .card-content
                  span.card-title= "Department #"+department.Dno+": "+department.DName
                  .row.emps
                    for emp in staff
                      if department.Dno==emp.Dno
                        .col.s12.m4
                          .card.primary.darken-1
                              .card-content.white-text
                                  span.card-title= emp.SName
                                  ul.collection.primary
                                      li.collection-item.primary= "SSN: "+emp.Ssn
                                      li.collection-item.primary= "Gender: "+emp.Gender
                                      li.collection-item.primary= "Date of Birth: "+emp.BirthDate.toLocaleDateString()
                                      li.collection-item.primary= "Address: "+emp.Address
                                      li.collection-item.primary= "Telephone: "+emp.Telephone
  script.
    $(document).ready(function() {
        $('.emps').each(function( index ) {
            if (!$(this).text())
            $(this).parent().parent().parent().remove();
        });
    });