extends ./layouts/default
block content
  include ./components/nav
  div.container
      h2 Staff
      .row
        for department in departments
          .row
            .col.s12
              .card.primary.secondary.white-text
                .card-content
                  span.card-title= "Department #"+department[0].Dno+": "+department[0].DName
                  .row
                    for staff in department
                        .col.s12.m4
                          .card.primary.darken-1
                              .card-content.white-text
                                  span.card-title= staff.SName
                                  ul.collection.primary
                                      li.collection-item.primary= "SSN: "+staff.Ssn
                                      li.collection-item.primary= "Gender: "+staff.Gender
                                      li.collection-item.primary= "Date of Birth: "+staff.BirthDate.toLocaleDateString()
                                      li.collection-item.primary= "Address: "+staff.Address
                                      li.collection-item.primary= "Telephone: "+staff.Telephone